Data/*
DataGeneration/hf_token.txt
DataGeneration/logs/*
*/__pycache__/
DataGeneration/.env
DataProcessor/logs/*
DataProcessor/*.csv
GraphGeneration/*.svg
GraphGeneration/*.pdf
GraphGeneration/*.json
